@media print {
  * {
    filter: none !important;
    color: black !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .table tr th {
    color: #000 !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  .ir a::after,
  a[href^="javascript:"]::after,
  a[href^="#"]::after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  nobr,
  .btn-print {
    display: none !important;
  }

  @page {
    margin: 19px;
  }
}
