{#
/**
* @file
* See https://printjs.crabbly.com/
* Default theme implementation to print in element with selector.
*
* Available variables:
* data-printable : id element for printing
* data-type: html|pdf|
*/
#}
<button {{ attributes }}>
  <i class="bi bi-printer"></i> {{ printText }}
</button>
